<a href="https://colab.research.google.com/github/websitecreatr99/Solytics/blob/main/sol_arima_arimax_sarimax_model_train.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -r req.txt

Requirement already satisfied: statsmodels==0.13.1 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 1)) (0.13.1)
Requirement already satisfied: scipy==1.9.3 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 3)) (1.9.3)
Requirement already satisfied: scikit-learn==1.1.2 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 5)) (1.1.2)
Requirement already satisfied: numpy==1.23.4 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 7)) (1.23.4)
Requirement already satisfied: pandas==1.5.2 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 9)) (1.5.2)
Requirement already satisfied: xgboost==1.4.2 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 11)) (1.4.2)
Requirement already satisfied: lxml==4.7.1 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 13)) (4.7.1)
Requirement already satisfied: joblib==1.0.1 in /usr/local/lib/python3.10/dist-packages (from -r req.txt (line 15)) (1.0.1)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels==0.13.1->-r req.txt (line 1)) (0.5.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn==1.1.2->-r req.txt (line 5)) (3.1.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.2->-r req.txt (line 9)) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas==1.5.2->-r req.txt (line 9)) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels==0.13.1->-r req.txt (line 1)) (1.16.0)

In [ ]:
import numpy as np
import pandas as pd
import statsmodels.api as sm

df = pd.read_csv('/content/MEV_TS_train.csv')
y = np.asarray(df['Real GDP growth'])
X = df.iloc[:,2:17]

order=[5, 2, 0]
#model=  sm.tsa.ARIMA(endog=y, order=order, exog=X)                 # arimax
model=  sm.tsa.statespace.SARIMAX(endog=y, order=order, exog=X)     # sarimax
res_arimax = model.fit()
import joblib
joblib.dump(res_arimax, 'ARIMA_Model_new.pkl')

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.arima.model import ARIMA
# statsmodels.tsa.arima.model.ARIMA
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [ ]:
df = pd.read_csv('/content/data_time.csv')
df

            date   meantemp    humidity  wind_speed  meanpressure
0     2013-01-01  10.000000   84.500000    0.000000   1015.666667
1     2013-01-02   7.400000   92.000000    2.980000   1017.800000
2     2013-01-03   7.166667   87.000000    4.633333   1018.666667
3     2013-01-04   8.666667   71.333333    1.233333   1017.166667
4     2013-01-05   6.000000   86.833333    3.700000   1016.500000
...          ...        ...         ...         ...           ...
1457  2016-12-28  17.217391   68.043478    3.547826   1015.565217
1458  2016-12-29  15.238095   87.857143    6.000000   1016.904762
1459  2016-12-30  14.095238   89.666667    6.266667   1017.904762
1460  2016-12-31  15.052632   87.000000    7.325000   1016.100000
1461  2017-01-01  10.000000  100.000000    0.000000   1016.000000

[1462 rows x 5 columns]

In [ ]:
df.isnull().sum()

date            0
meantemp        0
humidity        0
wind_speed      0
meanpressure    0
dtype: int64

In [ ]:
exogx = np.array(df['humidity'])

In [ ]:
model = ARIMA(df.meanpressure, order=(3, 4, 1),exog=exogx) # ,exog=exogx #,exog=np.asarray(df) # Set the appropriate order (p, d, q)
model_fit = model.fit()

In [ ]:
fitted_values = model_fit.fittedvalues
len(fitted_values)

1462

In [ ]:
# predictions = model_fit.predict(start=start_date, end=end_date)  # Set the desired start and end dates

In [ ]:
# Save the model
import joblib
joblib.dump(model_fit, 'Arima_E.pkl')

# # Load the model from the file
model = joblib.load(open('Arima_E.pkl','rb'))

In [ ]:
model

In [ ]:
model.data.orig_exog.shape

(1462, 1)

In [ ]:
a = pd.DataFrame(model.data.orig_exog)

In [ ]:
a.isnull().sum()

0    0
dtype: int64

In [ ]:
len(model.fittedvalues)

AttributeError: ignored